.search {
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 25vw;
}

.search > form {
  display: flex;
  justify-content: space-between;
}

.search > form > input {
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  line-height: 1.75;
  outline: 0;
  width: 90%;
}

.search > form > button {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .search { 
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
  }

  .search > form > input {
    color: white;
  }
}

@media screen and (max-width: 960px) {

  .search {
    width: 100%;
  }

}