:root {
  --apple-pink: #f45c6e;
  --apple-alt-pink: #d5648f;
  --apple-mid-pink: #b864b1;
  --apple-purple: #9e88e7;
  --apple-lightgray: #f0f0f0;
  --apple-dark-bg: #1c1c1c;
}

.app {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.75);
}

.app__body {
  display: flex;
  height: calc(100vh - 208px); /* 100vh - header and subheader height */
}

.app__bg {
  opacity: 0;
  transition: opacity 0.3s;
}

.app__bg--loaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: 0;
  z-index: -1;
  overflow: hidden;
  animation: fadeIn ease 2s;
}

.app__bgColor,
.app__bgBlack {
  opacity: 0;
  transition: opacity 0.3s;
}

.app__bgColor--loaded,
.app__bgBlack--loaded {
  width: 200%;
  opacity: 1;
  position: absolute;
  border-radius: 100em;
  animation: rotate 60s linear infinite;
}


.app__bgColor,
.app__bgColor--loaded {
  right: 0;
  top: 0;
  filter: blur(40px);
  z-index: 1;
  mix-blend-mode: luminosity;
}

.app__bgBlack,
.app__bgBlack--loaded {
  left: 0;
  bottom: 0;
  filter: blur(40px);
  z-index: 0;
  animation-direction: reverse;
  animation-delay: 10s;
}

@media (prefers-color-scheme: dark) {
  .app {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
  }
}

