* {
  margin: 0;
}

body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 
    sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
